@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav-bar {
  background-color: #333;
  overflow: hidden;
}

.Nav-button {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
}

.Nav-bar div:hover {
  background-color: rgb(99, 99, 99);
}

.Nav-button div:active {
  background-color: #04AA6D;
  color: red;
}

.Page-container {
  overflow: hidden;
  width: 100%;
  padding-top: 5%;
}

.Page-element {
  float: left;
}

.Param-grid {
  width: 35%;
  padding-left: 5%;
  padding-right: 5%;
}

.Results {
  width: 40%;
  padding-left: 5%;
}

.White-box {
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  padding: 5%;
}

.Title {
  font-size: 30px;
}

.Child-title {
  font-size: 25px;
}

.Param-child a {
  width: 40%;
}

.Param-child input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

.Param-child input:focus {
  border: 3px solid #555;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}